*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  max-width: 90vw;
  margin: auto;
  font-family: Helvetica, sans-serif;
  background: #f7f7ff;
}

h1{
  margin: 3rem 0;
  color:#333;
}

h3{
  color:#333;
  margin: 2rem 0;
}

p {
  color: #777;
}

ul{
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
}

li {
  padding: 2rem;
  background-color: #f1f1f3;
  border-radius: 8px;
}

a{
  text-decoration: none;
  
  display: flex;
  flex-direction: column;
}

img{
  height: 200px;
  width: 200px;
  margin: auto;
  object-fit: cover;
}